
<div>
<p>
<%= @participation_user.first_name @participation_user.last_name %> wants to join your projet <%= @project.title %>
</p>
<%= link_to 'accept', accept_participation_path(@participation), method: :post %>
<%= link_to 'refuse', refuse_participation_path(@participation), method: :post  %>
</div>

