// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$browne: #514A5A;
$saumon: #FA91A4;
$middle-gray: #ACACBA;
$white: white;
$saumon-ligth: #FEDEE4;
$noir: black;
$light-blue: #F2F7FC;
