// Specific CSS for your home-page
#pages-home {
  .main-info {
    padding: 0;
  }
  .first-important-btn {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 50px;
    margin: 0;
  }
}

.title-home {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
  margin-bottom: 75px;
  margin-top: 0px;
  h1 {
    color: #fc536f;
    font-size: 90px;
    margin-bottom: 20px;
    strong {
      color: $browne;
    }
  }
  p {
    font-size: 25px;
  }
}

.items-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
}

.item-home {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
  max-width: 250px;
  min-width: 300px;
  min-height: 160px;
}

.discover-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &:hover {
    opacity: 0.7;
  }
}

.background-title-home {
  background-color: white;
  padding: 150px 120px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-items-homes {
  background: url("sideninjas.png");
  background-size: cover;
  width: 40%;
  // height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-color: white;
  background-position: right;

}
