<h5># wich name ?</h5>

<div id="messages" data-chatroom-id="<%= chatroom.id %>">
  <% chatroom.messages.each_with_index do |message, i| %>
    <%= render 'chatrooms/chatroom_message', message: message %>
  <% end %>
</div>

<%= render 'chatrooms/message_form', user: current_user, chatroom: chatroom, message: message %>
