<div class="chatrooms-index" data-controller="chatrooms">

  <div class="chatroom-list">
    <h5>Messages directs</h5>
    <div class="list-contacts">
      <% @chatrooms.each do |chatroom| %>
        <%= link_to "# #{chatroom.users.find { |u| u != current_user }.first_name}", "#", data: { id: chatroom.id, action: "click->chatrooms#refresh" } %>
      <% end %>
    </div>
  </div>

  <% @chatrooms.each do |chatroom| %>
    <div class="chatroom-content <%= "d-none" unless chatroom == @chatrooms.first %>" data-target="chatrooms.content" data-chatroom-messages="<%= chatroom.id %>">
      <%= render 'chatrooms/show', chatroom: chatroom, message: Message.new %>
    </div>
  <% end %>

<!--   <div class="chatroom-content" data-target="chatrooms.content">
    <%#= render 'chatrooms/show', chatroom: @chatrooms.last, message: Message.new %>
  </div> -->



</div>
