<div class="chatroom-list">
  <ol>
    <% @chatrooms.each do |chatroom| %>
      <%# raise %>
      <li>
        <%#= render 'chatrooms/show', chatroom: chatroom %>
      </li>
    <% end %>
  </ol>
</div>

<div class="chatroom-content">
  <%= render 'chatrooms/show', chatroom: @chatrooms.last %>
</div>
