<div class="logo-avatar-container">
  <%= link_to root_path do %>
    <div class="logo">
      <p><</p>
      <div class="side-word-logo">
        <p>Side</p>
      </div>
      <p>Ninjas /></p>
    </div>
  <% end %>
</div>

