<div class="home-container">

  <div class="background-title-home">
    <div class="title-home">
      <h1><strong style="color: black">Side</strong> Ninjas/></h1>
      <p>Start your side project with Le Wagon alumni.</p>
    </div>

    <div class="discover-side">
      <%= link_to "Discover Side Ninjas ", projects_path, class:"first-important-btn" %>
    </div>
  </div>

  <div class="background-items-homes">
    <div class="items-home">

      <div class="item-home">
        <h2><i class="fas fa-upload"></i> <strong>Upload</strong></h2>
        <p>your side project or create your profile</p>
      </div>

      <div class="item-home">
        <h2><i class="fas fa-search"></i> <strong>Find</strong></h2>
        <p>the side project of your dreams regarding your criteria</p>
      </div>

      <div class="item-home">
        <h2><i class="fas fa-sitemap"></i> <strong>Organize</strong></h2>
        <p>your project and work together</p>
      </div>

    </div>
  </div>
</div>

