<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @languages.each do |language| %>
  <%= language.name %>
  <%= cl_image_tag language.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
