// boutton admin --> adrien à faire
.submit-contact-btn:focus {
  outline: none;
}

#rest-none {
  a:hover {
    text-decoration: none;
  }
}

.admin-btn {
  p {
    margin: 0px;
    padding: 0px;
  }
  width: min-content;
  height: min-content;
  margin: 5px 10px;
  color: $white;
  text-decoration: none;
  background-color: $browne;
  padding: 7px 13px;
  border-radius: $border-radius-second;
}

.submit-contact-btn {
  background: none;
  border: none;
  color: white;
}

#submit-width-all {
  width: 100%;
}

.submtit-btn-box {
  opacity: 0.9;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  background-color: $saumon;
  border: none;
  color: white;
  transition: all 0.3s ease-out;
  width: fit-content;
  p {
    margin: 0px;
    padding: 3px;
  }
  i {
    font-size: 20px;
  }
  &:hover {
    transform: scale(1.04);
    opacity: 1;
    // font-size: 20px;
    // padding: 9px 10px;
    .submit-contact-btn {
      // font-size: 20px;
    }
  }
  &.join {
    background-color: $browne;
  }
}

.light-submtit-btn {
  opacity: 0.9;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  background-color: $saumon-ligth;
  border: none;
  color: $saumon;
  transition: all 0.3s ease-out;
  width: fit-content;
  p {
    margin: 0px;
    padding: 3px;
  }
  i {
    font-size: 20px;
  }
  &:hover {
    transform: scale(1.1, 1.1);
    opacity: 1;
    // font-size: 20px;
    // padding: 9px 10px;
    .submit-contact-btn {
      // font-size: 20px;
    }
  }
}

.infos-link-box {
  opacity: 0.9;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  background-color: $saumon;
  color: white;
  transition: all 0.3s ease-out;
  p {
    margin: 0px;
    padding: 0px;
  }
  i {
    font-size: 20px;
  }
  &:hover {
    transform: scale(1.05, 1.05);
    opacity: 1;
    font-size: 20px;
    padding: 9px 10px;
    .submit-contact-btn {
      font-size: 20px;
    }
  }
}
