.chatrooms-container {
  margin-left: 220px;
}

.chatrooms-index {
  display: flex;
  // background: linear-gradient(90deg, $browne, $light-blue);
}

.chatroom-list {
  background-color: $light-blue;
  padding: 50px 0px 50px 0px;
  width: 250px;
  position: fixed;
  height: 100vh;
  h5 {
    color: $browne;
  }
}

.chatroom-content {
  position: relative;
  padding: 10px 20px 0px 0px;
  margin-left: 250px;
  background-color: $white;
  min-height: 100vh;
  width: calc(100vw - 470px);
}

#chat-content {
  padding-left: 20px;
  height: calc(100vh - 115px);
  overflow-y: scroll;
}

.photo-writer {
  width: 40px;
}
.header-list {
  margin: 0px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    margin: 0px;
  }
}


.message-container {
  display: flex;
  > div > div {
    flex-direction: row-reverse;
  }
  &.is-author {
    > div {
      width: 100%;
      justify-content: flex-end;
    }
    > div > div {
      text-align: right;
      flex-direction: row !important;
    }
  }
}

.list-contacts {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  a {
    color: $browne;
    text-decoration: none;
    &.notif-message {
      font-weight: bold;
    }
    &:hover {
      text-decoration: none;
      // background-color: $light-blue;
    }
  }
}

.name-chat {
  padding: 5px 0px 5px 50px;
  &:hover {
    background-color: $hover-gray;
  }
}

#messages {
  // height: 90%;

}

.contact-projects {
  p {
    margin: 0px;
    margin-right: 5px;
  }
}

.new-message-input {
  position: fixed;
  bottom: 0px;
  height: 60px;
  background-color: $white;
  // left: 10px;
  // z-index: 0;
  width: calc(100% - 470px);
  display: flex;
  .new-input-box {
    background-color: $light-blue;
    margin: 3px 10px;
    border: 1px $middle-gray solid;
    height: 42px;
    input {
      margin: 0px;
      background-color: $light-blue;
      &:focus {
        outline: none;
      }
    }
  }
}

.new-input-box {
  border-radius: 50px;
  width: 100%;
}

#new_message {
  display: flex;
  justify-content: space-between;
}

.btn-send {
  border-radius: 0px 50px 50px 0px;
  padding-bottom: 9px;
  width: 60px;
}

.fa-paper-plane {
  color: white;
}

.current-user {
  display: flex;
}

.receiver {
  display: flex;
}

.container-current-user{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.message_content {
  width: 100%;
}

.new_message input:focus {
  box-shadow: none;
}
