.custom-container {
  display: flex;
  min-height: 100vh;
}

.container-index {
  padding-left: 70px;
}

.left-side-bar {
  background-color: $browne;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 220px;
  display: flex;
  flex-direction: column;

  .side-bar-logo {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $white;
    .logo {
      margin: 0;
    }
  }

  .user-actions {
    flex-grow: 1;
    padding-left: 43px;
    padding-top: 30px;
    .btn-user-action {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .user-cation-logout {
    margin-bottom: 20px;
    padding-left: 70px;
  }



}

// #pages-home {
//   .custom-container {
//     display: block;
//   }
// }

// .user-actions {
//   margin-top: 100px;
//   flex-grow: 1;
// }

.btn-user-action {
  // margin-bottom: 30px;
  // padding-left: 14%;
  color: $white;
  width: min-content;
  display: flex;
  align-items: center;
  a {
    padding: 0px;
    margin: 0px;
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &.active {
    i {
      margin-left: 3px;
    }
    a {
      color: $browne;
    }
    color: $browne;
    background-color: $white;
    border-radius: $border-radius;
    padding: 7px 7px;
  }
}

// // .left-side-bar {
// //   background-color: $browne;
// //   width: 150px;
// //   flex-shrink: 0;

// //   hr {
// //     border: 0.1px solid $white;
// //   }
// // }
// .sidebar-content {
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   position: sticky;
//   top: 30px;
// }

// .side-bar-logo {
//   margin: 30px 10%;
//   text-decoration: none;
//   &:hover {
//     text-decoration: none;
//   }
// }



.main-info {
  margin: 50px 0px;
  flex-grow: 1;
  position: relative;
  &.with-sidebar {
    margin-left: 260px;
    margin-right: 40px;
  }
  &.with-search-sidebar {
    padding-left: 0px;
    margin-left: 530px;
  }
}

.user-avatar-profil {
  right: 50px;
  top: 10px;
  margin-top: 30px;
}

.logo-avatar-container {
  margin-bottom: 35px;
}
