.new-language-project {
  background: white;
}

.btn-create {
    opacity: 0.9;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #FA91A4;
    color: white;
    border: none;
    margin-top: 30px;
}

.web-link .string {
  background-color: #FEDEE4;

}

.web-link .second-important-btn {
  border-radius: 50px;
}

.features-avatars {
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}
