// toutes les boxes de projets --> adrien à faire
.resum-project-box {
  background-color: $white;
  border-radius: $border-radius;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.1);
  min-width: 610px;
}

.para {
  margin-top: 10px;
  margin-bottom: 5px !important;
}

.box-projects-index {
  opacity: 0.8;
  transition: all 0.3s ease-out;
  &:hover {
    transition: all 0.3s ease-out;
    opacity: 1;
    transform: scale(1.03, 1.03);
  }
  a {
    text-decoration: none;
  }
}

.resum-project-description {
  margin-bottom: 10px;
  // height: 100px;
  overflow-y: scroll;
  // overflow: scroll;
  // max-width: 600px;
  // max-height: 100px;
}

.resum-project-images {
  overflow-x: scroll;
}

.resum-project-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5 {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    font-size: 2.25rem;
  }

  h6 {
    color: $browne;
    background-color: #e8e8e8;
    padding: 4px 9px;
    border-radius: 5px;
    margin: 0px;
    // margin-top: 20px;
    font-size: 20px;
    height: min-content;
  }
  i {
    margin: 0px 5px;
  }
}

.resum-project-title {
  max-width: 100%;
}

.resum-project-pictures {
  display: flex;
}

.resum-project-photos {
  border-radius: $border-radius;
  margin-right: 20px;
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.resum-project-tags-show {
  display: flex;
  margin-top: 30px;
  overflow-x: scroll;
  width: 90%;
}

.resum-project-tags {
  display: flex;
  margin-top: 30px;
  overflow-x: scroll;
  max-width: 618px;
}

.resum-member {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.pending {
    opacity: .5;
    .pending-request-btn * {
    font-size: 12px;
    color: darkgoldenrod;
    }
  }
}

.skills-btn {
  margin-right: 5px;
}

.web-link {
  display: flex;
  // justify-content: space-around;
  margin-bottom: 20px;
  i {
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: $browne;
    opacity: .8;
    transition: transform 0.3s ease;
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}

.github {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  border-radius: $border-radius;
}
