.search-project-description {
  p, h5 {
    color: $middle-gray;
    overflow: scroll;
    max-width: 600px;
    max-height: 100px;
  }
}


.bottom-search-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  .resum-project-tags {
    margin-top: 0px;
  }
}

.project-header {
  display: flex;
  justify-content: space-between;
}
