.search-project-description {
  p, h5 {
    color: $middle-gray;
  }
}

.bottom-search-project {
  display: flex;
  justify-content: space-between;
}

.project-header {
  display: flex;
  justify-content: space-between;
}
