
  .select2-container--default .select2-selection--multiple {
    border: none;
    background-color: #F2F7FC;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F2F7FC;
    border-color: #514A5A;
    border-radius: 15px;
    padding: 6px;
    color: #514A5A;
}
