// boutton du genre contact on slack --> adrien à faire
.second-important-btn {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $saumon;
    padding: 0px;
    margin: 0px;
    &:hover {
      text-decoration: none;
    }

  }

  .form-group.string.optional {
    margin-bottom: 0px;
  }

  p {
    padding: 0px;
    margin: 0px;
    // width: fit-content;
  }

  margin: 5px 10px;
  padding: 7px 13px;
  width: fit-content;
  height: fit-content;
  border-radius: $border-radius-second;
  background-color: $saumon-ligth;
  color: $saumon;
  text-decoration: none;
}
