// c'est pour la recherche de projets --> adrien à faire

.search-bar-box {
  margin-left: 220px;
  background-color: $light-blue;
  flex-grow: 1;
  min-width: 310px;
  padding-left: 50px;
  padding-top: 120px;
  position: fixed;
  height: 100vh;
  // position: fixed;
  // height: 100vh;
}

.search-bar-buttons {
  margin-top: 75px;
}

.search-btn {
  background-color: $saumon;
  color: $white;
  width:  fit-content;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  padding: 7px 13px;
  border: none;
  &:focus {
    outline: none;
  }
}

