// c'est pour la recherche de projets --> adrien à faire
.skills-list-container {
  max-width: 250px;
  height: auto;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.card-languages {
  margin-right: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;

}

.search-bar-box {
  margin-left: 220px;
  background-color: $light-blue;
  padding-left: 50px;
  padding-top: 50px;
  position: fixed;
  height: 100vh;
  width: 300px;
  // position: fixed;
  // height: 100vh;
}

.search-bar-buttons {
  margin-top: 75px;
}

.search-btn {
  background-color: $saumon;
  color: $white;
  width:  fit-content;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  padding: 7px 13px;
  border: none;
  &:focus {
    outline: none;
  }
}

.row {
  padding-bottom: 10px !important;
  position: relative;
}

.languages-selection {
  background-color: $light-blue !important;
}

.select2-selection--single {
  border-radius: 50px !important;
  width: 200px;
  height: 50px !important;
}

.select2-selection__rendered {
 height: 50px !important;
 text-align: center;
 display: flex !important;
 align-items: center;
 justify-content:  center;
}

.select2-selection__arrow {
  top: 15px !important;
  right: 14px !important;
}

.filter-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.language-label {
    position: absolute;
    top: 10px;
    left: 14px;
}

.reset-btn {
margin-bottom: 20px;
}

.search-bar-box p {
  font-weight: bold;
}

.search-buttons {
  border: none;
  background-color: $light-blue;
  cursor: default !important;
}

.search-btn {
  cursor: pointer;
}

.search-bar-box .card-languages {
 cursor: pointer;
}
