// bouttons de skills genre ruby expert--> adrien
.skills-btn {

  p {
    padding: 0px;
    margin: 0px;
    // font-size: 11px;
  }

  margin: 10px 0px;
  margin-right: 5px;
  padding: 7px 13px;
  width: fit-content;
  height: min-content;
  // border-radius: $border-radius;
  // background-color: $light-gray;
  color: $noir;
  text-decoration: none;
  display: flex;
  align-items: center;

  img {
    margin-right: 4px;
  }
}

.github-link {
  color: black;
  margin-right: 20px;
}
