// bouttons de skills genre ruby expert--> adrien
.skills-btn {

  p {
    padding: 0px;
    margin: 0px;
  }

  margin: 5px 10px;
  padding: 7px 13px;
  width: fit-content;
  height: min-content;
  border-radius: $border-radius;
  background-color: $light-gray;
  color: $noir;
  text-decoration: none;
  display: flex;
  align-items: center;
}
