// c'est la box de présentation de la team --> adrien
.members-container {
  height: 350px;
  // overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-box {
  background-color: $white;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 0.1);
  height: 548px;
}

.team-box-title {
  margin-top: 0px;
  margin-bottom: 18px;
}

.team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-infos {
  display: flex;
  align-items: center;
}

.member-skills {
  margin: 10px 0px;
}

.one-skill {
  display: flex;
}

.member-name-batch {
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  margin: 0px 5px;
  p {
    padding: 0px;
    margin: 0px;
  }
}

// . > .second-important-btn {
//   width: 100%;
// }
