// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import 'select2/dist/css/select2';
@import "components/index";
@import "pages/index";



p {
  font-size: 15px;
}

body {
  color: $browne;
}

span:focus {
  outline: none;
}

.pending-request-page-title {
  padding: 0;
  text-decoration: none;
  a:hover {
    text-decoration: none;
  }
}

.box-shadow-pink {
    box-shadow: 0 0 0 0.2rem rgba(250, 145, 164, 0.25);
}

.dropdown-menu {
  overflow: hidden;
  border-radius: $border-radius-second;
}
